<!DOCTYPE html>
<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113656792-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113656792-1');
</script>

	<script src="https://unpkg.com/vue"></script>
	<title></title>
	<style type="text/css">
		p>img{
			border-color: black;
			border-style: dotted;
			alignment-baseline: middle;
		}
		body{
			background-color: #607c8b;
			margin: 0;
		}
		#profile{
			text-align: center;
			font-size: 25px;
		}
		#profile:hover{
			color: blue;
		}
		textarea{
			border-width: 0.5px;
			resize: none;
			width: 602px;
			border: solid;
			border-color: white;
		}
		textarea:hover{
			border-color: #607c8b;
		}
		.vue{
			color: yellow;
			position: relative;
		}
		p{
			font-size: 18px;
		}
		li{
			font-size: 20px;
		}
		a{
			color: grey;
		}
		footer {
			height: 75px;
			vertical-align: middle;
			text-align: center;
		}
		#content{
			text-align: justify;
			margin-right: 125px;
			margin-left: 125px;
			background-color: #435366;
			color: white;
			padding: 40px;
		}
	</style>
</head>
<body>
<h3 id="profile">Irfan Yunus Pramono - 1901525783</h3>
<center id="content">
<h1 style="text-align: center;"><strong>Vue JS</strong></h1>
<p>Vue.js (<a href="https://vuejs.org/">https://vuejs.org/</a>) seperti di websitenya yang membawa tagline <em>“The Progressive JavaScript Framework” </em>merupakan javascript framework yang membantu kita dalam membuat sebuah website/aplikasi yang membutuhkan banyak interaksi di dalamnya, biasanya berupa <em>Single Page Application. </em>Saat ini Vue.js menempatai posisi ke 3 dibawah React dan Angular dari seluruh library/framework Javascript yang ada</p>
<ol start="1">
	<li><strong>Instalasi Vue.JS</strong></li>
</ol>
<p>Ada beberapa cara instalasi vue namun cara yang paling mudah adalah melalui CDN karena kita tidak perlu menyimpan file Vue.js di dalam project kita. Berikut ini adalah contoh bagaimana mereferensikan vue dari CDN:</p>
<textarea readonly><script src="https://unpkg.com/vue"></script></textarea>
<ol start="2">
<li><strong> Mengenai Vue Component</strong></li>
</ol>
<p>Vue.js seperti framework Javascript modern lainnya yang mengusung konsep <em>component based </em>dimana setiap blok layout dianggap sebagai komponen yang independen dan memiliki style serta fungsi sendiri yang terisolir sehingga mudah untuk digunakan ulang oleh setiap halaman website kita.</p>
<p>Berikut adalah contoh cara menggunakan custom tag yg telah kita buat dengan VueJS:</p>
<p><textarea readonly rows="4">//Define a new Component Called todo-item
Vue.component('todo-item', {
	template:'<li>This is a todo</li>'
})</textarea></p>
<p style="text-align:center;">Mendefinisikan Vue.js Component</p>
<p>Dari pendefinisian diatas kita bisa menggunakan komponen tersebut dalam HTML template dengan cara yang tak kalah mudah, yakni seperti berikut&nbsp;:</p>
<p><textarea readonly rows="4"><ol>
	<!-- Create an instance of the todo-item component-->
	<todo-item></todo-item>
</ol>></textarea></p>
<p style="text-align:center;">Menggunakan Vue.js Component dalam HTML&nbsp;Template</p>
<!--3-->
<ol start="3">
<li><strong> Data Binding dalam&nbsp;Vue.js</strong></li>
</ol>
<p>Vue.js memang sangat terinspirasi dari <a href="https://angularjs.org/">AngularJS</a> dalam hal <em>data binding</em> ini, itu mengapa sangat mudah untuk belajar Vue.js jika kita pernah belajar AngularJS sebelumnya. Bila di AngularJS kita mengenal <em>ng-bind</em> maka di Vue.js kita mengenal <em>v:bind</em>, berikut beberapa data binding dalam Vue.js&nbsp;:</p>
<ul>
<li><strong>Binding data ke dalam view</strong></li>
</ul>
<p><textarea readonly rows="3"><div id="app">
   {{message}}
</div></textarea></p>
<p>Vue.js menggunakan syntax <strong>{{ }}</strong> seperti terlihat pada gambar diatas, dengan syntax tersebut berarti kita ingin menampilkan sebuah data yang ada dalam Javascript kita ke dalam HTML template.</p>
<ul>
<li><strong>Attribute Binding</strong></li>
</ul>
<p>
<textarea readonly rows="12">
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>
var app2 = new Vue({
  el: '#app-2',
  data: {
    message: 'You loaded this page on ' + new Date().toLocaleString()
  }
})</textarea>
</p>
<div id="app-2" class="vue">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>
<p style="text-align:center;">Attribute Binding di dalam&nbsp;Vue.js</p>
<p>Seperti disebut sebelumnya, di Vue.js kita menggunakan <strong>v-bind</strong> untuk melakukan binding ke dalam HTML. Maka jika kita melihat kode diatas berarti kita ingin menambahkan attribute <em>title</em> ke dalam <em>span</em> dengan menggunakan data yang dinamis dari javascript. <em>v-bind</em> pada dasarnya bisa diterapkan pada berbagai attribute di HTML sehingga kita mungkin akan menemui banyak variasi <em>v-bind</em> ini seperti <strong><em>v-bind:src, v-bind:class, v-bind:alt ,v-bind:key</em></strong>, dan lain sebagainya.<br>
Vue.js juga menyediakan shortcut untuk kita mendefinisikan<em> v-bind</em> di dalam HTML yakni dengan menghilangkan bagian <em>v-bind </em>nya, jadi kita bisa menggunakan shortcut seperti&nbsp;<strong><em>:title,&nbsp;:src,&nbsp;:class,&nbsp;:alt</em></strong> dan sebagainya.</p>
<ul>
<li><strong>Two way data binding</strong></li>
</ul>
<p>Seperti AngularJS, Vue.js juga menyediakan fitur two way data binding yang artinya setiap perubahan pada Javascript akan berpengaruh pada view HTML dan sebaliknya perubahan pada HTML view pun akan mempengaruhi atau mengubah nilai di Javascript nya.<br>
Di Vue.js kita menggunakan<strong><em> v-model</em></strong> untuk melakukan two way binding yang biasanya sering ditempelkan pada sebuah elemen input HTML, seperti gambar berikut&nbsp;:</p>
<p>
		<textarea readonly rows="11">
<div id="app-6" style="position: relative;">
  <p>{{ message }}</p>
  <input v-model="message">
</div>
var app6 = new Vue({
  el: '#app-6',
  data: {
    message: 'Hello Vue!'
  }
})
	</textarea>

</p>
<div id="app-6" class="vue">
  <p>{{ message }}</p>
  <input v-model="message">
</div>
<p style="text-align:center;">Vue.js two-way data&nbsp;binding</p>
<ul>
<li><strong>Event binding</strong></li>
</ul>
<p>Untuk memanggil suatu event yang telah kita buat di Javascript, Vue.js menggunakan <strong><em>v-on</em></strong> di dalam HTML template diikuti hook event yang akan ditambahkan. Jadi kita bisa menggunakan berbagai variasi v-on seperti <strong><em>v-on:click, v-on:blur, v-on:focus, v-on:keyup</em></strong> dan sebagainya. Vue.js menyediakan juga shortcut untuk melakukan event binding ini yakni menggunakan @, sehingga kita bisa menyingkat seperti&nbsp;: @click, @blur,@focus dan sebagainya.</p>
<p>
<textarea readonly rows="16">
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>
var app5 = new Vue({
  el: '#app-5',
  data: {
    message: 'Hello Vue.js!'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
})
</textarea>
</p>
<div id="app-5" class="vue">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>
<p style="text-align:center;">Event binding di&nbsp;Vue.js</p>
<p>&nbsp;</p>
<ol start="4"><li><strong>Computed and Watch property</strong></li></ol>
<p>pada vue terdapat Computed and watch property dimana kita sebuah properti tersebut akan berreaksi jika ada perubahan data.</p>
<p>yang membedakan antara Computed dan watch adalah, pada watch component tersebut memantau satu data secara terus menerus jika terjadi perubahan, sedangkan computed component tersebut memantau semua variabel yang bergantung pada pada komponen tersebut contoh:</p>
<p><textarea readonly rows="20">

<div id="demo">{{ fullName }}</div>
<input v-model="firstName">
<input v-model="lastName">
//watch
var vm = new Vue({
  el: '#demo',
  data: {
    firstName: 'Foo',
    lastName: 'Bar',
    fullName: 'Foo Bar'
  },
  watch: {
    firstName: function (val) {
      this.fullName = val + ' ' + this.lastName
    },
    lastName: function (val) {
      this.fullName = this.firstName + ' ' + val
    }
  }
})
//The above code is imperative and repetitive. 
//Compare it with a computed property version:
//computed
var vm = new Vue({
  el: '#demo',
  data: {
    firstName: 'Foo',
    lastName: 'Bar'
  },
  computed: {
    fullName: function () {
      return this.firstName + ' ' + this.lastName
    }
  }
})
</textarea></p>
<div id="demo1" class="vue">
{{ fullName }} //watch<br>
<input v-model="firstName">
<input v-model="lastName">
</div>
<div id="demo2" class="vue">
{{ fullName }} //computed<br>
<input v-model="firstName">
<input v-model="lastName">
</div>

<ol start="5">
	<li>contoh sederhana</li>
</ol>
<p>Pada contoh ini saya membuat implementasi vue berdasarkan dari contoh two way data-binding. Disini saya menggunakan ternary operation untuk mengecek apakah kata tersebut Palindrom atau tidak.</p>
<p><textarea readonly rows="20">
<div id="s">
	<input type="text" v-model="message" style="margin-right: 25px;">{{checkAnagram(message) ? "it's Palindrome" : "it isn't Palindrome"}}
</div>
let app=new Vue({
	el:"#s",
	data: {
		message:"",
		reverser: function(word){
			returnword.split('').reverse().join('');
		},
		checkAnagram: function (word){
			if(this.reverser(word)===word) return true;
			else return false;
		}
	}
});
</textarea>
<div id="s" class="vue">
	<input type="text" v-model="message" style="margin-right: 25px;">{{checkAnagram(message) ? "it's Palindrome" : "it isn't Palindrome"}}
</div>
</p>
<p>&nbsp;</p>
<!-- -->
<h1 style="text-align: center;"><strong>Top 3 JavaScript Framework/Library</strong></h1>
<p>Angular.js, React.js dan Vue.js adalah teknologi front end yang populer yang saling bersaing satu sama lain. Mereka adalah 3 framework/library javasript terbesar didunia. Berikut adalah beberapa komparasi<br>
</p>
<p>&nbsp;</p>
<p><strong>Angular.js
</strong></p>
<p>Angular adalah framework yang di buat dan di maintain oleh komunitas di Google. framework ini menjadi inspirasi dalam pembuata VueJS. Kekurangan dari angular adalah proses pembelajaran framework ini kurang cepat, karena memang framework ini ditujukan kepada proyek proyek besar yang kompleks.</p>
<p>&nbsp;</p>
<p><strong>React.js</strong></p>
<p>React adalah framework yang di buat dan di maintain oleh komunitas di Facebook. Keuntungan terbesar dari React.js adalah pure-performance, berkat virtual DOM yang secara general tidak beda jauh dengan VUE.<br>
</p>
<p>&nbsp;</p>
<p><strong>Vue.js</strong></p>
<p>
Vue adalah pendatang baru dan bertujuan untuk menggabungkan beberapa fitur terbaik dari Angular and React: Ini bertujuan untuk menjadi lebih berperforma dan flexible. Vue mampu belajar dari kesalahan dan keberhasilan Angular and React. Pengadopsian Vue dalam jangka panjang tetap menjadi tanda tanya karena dunia JavaScript tetap sangat fluktuatif.</p>
</center> 
</body>
<footer>
	<center>
		<h4>Created by Irfan Yunus P</h4>
	</center>
</footer>
<script type="text/javascript">
	let app=new Vue({
		el:"#s",
		data: {
			message:"",
			reverser: function(word){
				return word.split('').reverse().join('');
			},
			checkAnagram: function (word){
				if(this.reverser(word)===word) return true;
				else return false;
			}
		}
	});
	var app6 = new Vue({
		el: '#app-6',
		data: {
    	message: 'Hello Vue!'
  		}
	})
	var app5 = new Vue({
  		el: '#app-5',
  		data: {
    	message: 'Hello Vue.js!'
  		},
  		methods: {
  	  		reverseMessage: function () {
      		this.message = this.message.split('').reverse().join('')
  	  		}
 	 	}
	})
	var app2 = new Vue({
  		el: '#app-2',
  		data: {
    	message: 'You loaded this page on ' + new Date().toLocaleString()
  		}
	})
	//watch
	var vm1 = new Vue({
	  el: '#demo1',
	  data: {
	    firstName: 'Foo',
	    lastName: 'Bar',
	    fullName: 'Foo Bar'
	  },
	  watch: {
	    firstName: function (val) {
	      this.fullName = val + ' ' + this.lastName
	    },
	    lastName: function (val) {
	      this.fullName = this.firstName + ' ' + val
	    }
	  }
	})
	//The above code is imperative and repetitive. 
	//Compare it with a computed property version:
	//computed
	var vm2 = new Vue({
	  el: '#demo2',
	  data: {
	    firstName: 'Foo',
	    lastName: 'Bar'
	  },
	  computed: {
	    fullName: function () {
	      return this.firstName + ' ' + this.lastName
	    }
	  }
	})
</script>
</html>
